<div class="row">
	<div class="col-xs-12">
		<ul class="nav-menu">
			<li><%= link_to 'Home', root_path %></li>
			<% @menu_taxons.each do |taxon| %>
				<li><%= link_to taxon.name , seo_url(taxon) %></li>
			<% end %>
			<li><%= link_to 'New Products', products_path %></li>
			<li><%= link_to 'Contact US', contact_us_path %></li>
		</ul>
	</div>
</div>