				<div class="row">
					<div class="col-md-12">
						<div class="hr"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-right text-uppercase">
						<h2 class="cat2h2">about us</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="hrLight mb"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-8">
						<div class="row">
							<div class="col-md-12">
								<p class="italic about-mr">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
								<p class="about-mr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

								<%= image_tag "spree/frontend/about-photo.jpg", class: 'about-photo full-width about-mr2' %>
								<p class="about-mr3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4  text-uppercase">
						<h4 class="lh mr-left">Trim To The Trade specializes in<br/>the Manufacturing and<br/>Distribution of High Quality<br/>Plumbing Trim and Accessories</h4>
						<div class="row">
							<div class="col-md-12 text-center">
								<%= image_tag "spree/frontend/about-catalog.jpg", class: 'catalog' %>
								<h4 class="lh mr-left">Our catalog helps you<br/>locate the products that<br/>you are looking for.</h4>
								<%= image_tag "spree/frontend/about-call.jpg", class: 'call' %>
								<h4 class="lh mr-left">If you cannot find<br/>what you are looking for,<br/>please call (760) 343-3306.</h4>
							</div>
						</div>
					</div>
				</div>