<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hr"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right text-uppercase">
				<h2 class="cat2h2">contact us</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="hr mb"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="row">
					<div class="col-md-12">
						<p class="boldItalic about-mr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						<p class="about-mr3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="contact">
							<%= image_tag 'spree/frontend/mail.png' %>
							<p><span>Order Status & Availability</span><br/>customerservice@TrimToTheTrade.com</p>
						</div>
						<div class="contact">
							<%= image_tag 'spree/frontend/mail.png' %>
							<p><span>Product Information</span><br/>product@TrimToTheTrade.com</p>
						</div>
						<div class="contact">
							<%= image_tag 'spree/frontend/mail.png' %>
							<p><span>Billing</span><br/>accounting@TrimToTheTrade.com</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="address">
					<p class="mr-left"><span>Trim To The Trade</span><br/>72-234 Corporate Way<br/>Thousand Palms, CA 92276</p>
				</div>
				<div class="contact-phone text-uppercase">
					<p class="mr-left">Phone:&nbsp;(760) 343 3306</p>
					<p class="mr-left">Fax: &nbsp; &nbsp; &nbsp;(760) 343 3609</p>
					<p class="mr-left">Fax: &nbsp; &nbsp; &nbsp;(800) 562 9998</p>
				</div>
			</div>
		</div>
	</div>
</section>